.header {
    width: 1200px;
    margin: 0 auto;
    border: 2px solid black;
    height: 65px;
}

.header ul {
    display: flex;
    gap: 20px;
    list-style: none;
}

.footer {
    width: 1200px;
    margin: 0 auto;
    background-color: black;
    color: white;
    height: 240px;
}